<!DOCTYPE html>
<html>
<head>
  <title>Calculation Result</title>
</head>
<body>
  <h1>Calculation Result</h1>
  <p>Number 1: <%= num1 %></p>
  <p>Number 2: <%= num2 %></p>
  <p>Addition: <%= addition %></p>
  <p>Subtraction: <%= subtraction %></p>
  <p>Multiplication: <%= multiplication %></p>
  <p>Division: <%= division %></p>
  <a href="/">Back</a>
</body>
</html>
